NEXT_PUBLIC_SUPABASE_URL=https://gtclxnnztgbakqvtfzaf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_d9MoBH50QicCHucZHhjP0w_L4WA9S7s
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd0Y2x4bm56dGdiYWtxdnRmemFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTMzNTM2NSwiZXhwIjoyMDkwOTExMzY1fQ.sfs5mWVSC7o3ZlKppTVJlrBC6dn1AAC9J11QfwSeB3Y